.container {
    width: 90%;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: 1920px) {
        width: 100%;
        max-width: 93.75rem;
        margin: auto;
    }
}