// Load the variables file with alias v //
@use "variable" as v;

/*TextFormat*/

html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}
header {
    color: v.$color-white;
}

.content {
flex-grow: 1;
}

footer {
    color: v.$color-white;
}


p {
    font-family: v.$font-primary;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: v.$font-secondary;
    text-transform: uppercase;
    font-weight: bold;
}

span {
    color: v.$color-red;
}

h1{
font-size: v.$size-h1-m;
}

