@use "../../../../shared/style/variable" as v;

.btn {
    font-size: v.$size-button-m;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border: none;
    cursor: pointer;
}