@use "../../../shared/style/variable" as v;

.card {
    filter: drop-shadow(0px 4px 4px #000000);
    -webkit-filter: drop-shadow(0px 4px 4px #000000);

}


.card-single-home {
    height: 380px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F2F2F2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: v.$margin-l;
div{
    p{
        &:nth-child(1){
            font-weight: bold;
        }
    }
}
    img {
        width: 148px;
        height: 148px;
    }
}

.cards-home {

    display: flex;
    flex-direction: column;
    gap: v.$margin-l;
    margin-bottom: v.$margin-l;

    .card-home {
        height: 380px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        background-color: #F2F2F2;
        text-align: center;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        .card-home_div_imgs {
            width: 100%;
            height: 218px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-bottom: v.$margin-l;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;

            .card-home__img {
                width: 268px;
                height: 218px;
            }
        }

        .home_goodies {
            background-image: url("../../../img/goodies-blur.webp");
        }

        .home_tcg {
            background-image: url("../../../img/tcg-blur.webp");
        }

        .home_collection {
            background-image: url("../../../img/collection-blur.webp");
        }

        .card-home_div_infos {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100px;

            p {
                margin: 0px;
            }
        }

        @media (min-width: 360px) {}

    }
}