// Load the variables file with alias v //
@use "../../../shared/style/variable" as v;

.admin-menu {
    display: grid;
    grid-template-columns: repeat(12, 120px);
    justify-content: space-between;
    margin-top: v.$margin ;




    @media (min-width: 1280px) {
        grid-template-columns: repeat(6, 120px);
        justify-content: space-between;
        gap: 10px;
    }

    @media (min-width: 1440px) {
        grid-template-columns: repeat(12, 100px);
    }

}